$base-color: #393c40;
$base-bg-color: #d9d9d9;
$base-bg-color-transparent: rgba($base-bg-color, 0.9);
$base-border-color: #393c40;

$danger-color: #940707;
$danger-bg-color: #f2d0d0;
$danger-bg-color-transparent: rgba($danger-bg-color, 0.9);
$danger-border-color: #940707;

$success-color: #0c800a;
$success-bg-color: #dbfad8;
$success-bg-color-transparent: rgba($success-bg-color, 0.9);
$success-border-color: #0c800a;

$shadow-color: #707070;
