$color-red: #ed2121;
$color-red-hover: #D71818;
$color-green: #12A110;
$color-green-hover: #108C0E;
$color-gray: #979797;
$color-gray-dark: #666666;
$color-yellow: #d6c66d;

/* modals, buttons */
$modal-overlay: rgba(100, 100, 100, 0.5);

$transparency: 0.9;

$base-color: #393c40;
$base-bg-color: #d9d9d9;
$base-bg-color-transparent: rgba($base-bg-color, $transparency);
$base-border-color: #393c40;

$danger-color: #940707;
$danger-bg-color: #f2d0d0;
$danger-bg-color-transparent: rgba($danger-bg-color, $transparency);
$danger-border-color: #940707;

$success-color: #0c800a;
$success-bg-color: #dbfad8;
$success-bg-color-transparent: rgba($success-bg-color, $transparency);
$success-border-color: #0c800a;

$shadow-color: #707070;

$current-player-RED-color: #730505;
$current-player-RED-border-color: #ff4d4d;

$current-player-YELLOW-color: #7a5f05;
$current-player-YELLOW-border-color: #dfd91b;

$current-player-GREEN-color: #03540b;
$current-player-GREEN-border-color: #3aab45;

$current-player-BLUE-color: #023852;
$current-player-BLUE-border-color: #0698dd;